<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # 1. If the requested file exists, serve it directly (images, css, js)
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l

  # 2. Otherwise, serve index.html (React handles the route)
  RewriteRule . /index.html [L]
</IfModule>